@model Event_Management_System.Dto.Event.GetEventEntityDto
@{
    ViewData["Title"] = "Event Page";
}

<div class="text-center">
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            @foreach (var eventDto in Model.Entities)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3 mb-3">
                    <div class="card component-card_2">
                        <img src="/image/@eventDto.File" class="card-img-top" alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">@eventDto.Title</a></h5>
                            <p class="card-text">@eventDto.Description</p>
                            <div class="card-star_rating mb-2">
                                <span>Raiting</span>
                                <span class="badge badge-pills badge-success">4.5</span>
                            </div>
                            @if (Model.UserId != null && eventDto.IsSubscribe == false)
                            {
                                <button class="btn btn-primary" id="subscribeButton" data-event-id="@eventDto.Id" data-user-id="@Model.UserId">Subscribe</button>
                            }
                            @if (Model.UserId != null && eventDto.IsSubscribe)
                            {
                                <button class="btn btn-danger" id="subscribeButton" data-event-id="@eventDto.Id" data-user-id="@Model.UserId">Unsubscribe</button>
                            }
                            @if (Model.UserId == null)
                            {
                                <a href="/auth/Register" class="btn btn-primary">Subscribe</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>